<div id="content-container" class="container">
    <div class="user-section login-section">
        <div class="logon-tab clearfix"><a href="{:url('user/login')}?url={$url|urlencode|htmlentities}">{:__('Sign in')}</a> <a class="active">{:__('Sign up')}</a></div>
        <div class="login-main">
            <form name="form1" id="register-form" class="form-vertical" method="POST" action="">
                <!--@IndexRegisterFormBegin-->
                <input type="hidden" name="invite_user_id" value="0"/>
                <input type="hidden" name="url" value="{$url|htmlentities}"/>
                {:token()}
                <div class="form-group">
                    <label class="control-label required">{:__('Email')}<span class="text-success"></span></label>
                    <div class="controls">
                        <input type="text" name="email" id="email" data-rule="required;email" class="form-control" placeholder="{:__('Email')}">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">{:__('Username')}</label>
                    <div class="controls">
                        <input type="text" id="username" name="username" data-rule="required;username" class="form-control" placeholder="{:__('Username must be 3 to 30 characters')}">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">{:__('Password')}</label>
                    <div class="controls">
                        <input type="password" id="password" name="password" data-rule="required;password" class="form-control" placeholder="{:__('Password must be 6 to 30 characters')}">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">{:__('Mobile')}</label>
                    <div class="controls">
                        <input type="text" id="mobile" name="mobile" data-rule="required;mobile" class="form-control" placeholder="{:__('Mobile')}">
                        <p class="help-block"></p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">{:__('SMS Captcha')}</label>
                    <div class="controls">
                        <div class="input-group">
                            <input type="text" name="smscaptcha" class="form-control" data-rule="required;length(6)" placeholder="{:__('SMS Captcha')}"/>
                            <span class="input-group-btn" style="padding:0;border:none;">
                                <a href="javascript:;" class="btn btn-primary btn-sms-captcha" data-url="{:url('api/sms/send')}" data-event="register">{:__('Send SMS Captcha')}</a>
                            </span>
                        </div>
                        <p class="help-block"></p>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">{:__('Sign up')}</button>
                    <a href="{:url('user/login')}?url={$url|urlencode|htmlentities}" class="btn btn-default btn-lg btn-block mt-3 no-border">{:__('Already have an account? Sign in')}</a>
                </div>
                <!--@IndexRegisterFormEnd-->
            </form>
        </div>
    </div>
</div>
{block name="js"}
<script type="text/html" id="graphicalcaptchatpl">
    <form id="graphicalcaptcha-form" class="form-horizontal form-layer" method="POST" action="">
        <div class="form-body">
            <input type="hidden" name="action" value="checkgraphicalcaptcha" />
            <div class="form-group">
                <label for="c-captcha" class="control-label col-xs-12 col-sm-3">{:__('Captcha')}:</label>
                <div class="col-xs-12 col-sm-8">
                    <div class="input-group">
                        <input type="text" name="captcha" id="captcha-input" class="form-control" data-rule="required;length(4)" />
                        <span class="input-group-addon" style="padding:0;border:none;">
                            <img src="{:captcha_src()}" width="100" height="30" onclick="this.src = '{:captcha_src()}?r=' + Math.random();"/>
                        </span>
                    </div>
                    <span class="msg-box"></span>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <div class="form-group" style="margin-bottom:0;">
                <div class="col-xs-12 col-sm-8 col-sm-offset-3">
                    <button type="submit" class="btn btn-md btn-primary">{:__('Submit')}</button>
                </div>
            </div>
        </div>
    </form>
</script>
<script>
    require(['jquery', 'bootstrap', 'fast', 'form', 'layer', 'toastr', 'template'], function ($, undefined, Fast, Form, Layer, Toastr, Template) {
        $(function () {
            $(document).on('click', '.btn-sms-captcha', function () {
                var mobile = $('#mobile').val();
                if (!mobile) {
                    Toastr.error(__('Please enter mobile number'));
                    return;
                }
                Layer.open({
                    type: 1,
                    title: __('Please enter the graphical captcha'),
                    area: ['400px', '250px'],
                    content: Template('graphicalcaptchatpl', {}),
                    success: function (layero, index) {
                        var form = layero.find('form');
                        Form.api.bindevent(form, function (data, ret) {
                            // This is the success callback of the form submission
                            Layer.close(index);
                            // Now send the SMS
                            var captcha = layero.find('#captcha-input').val();
                            $.ajax({
                                url: "{:url('api/sms/send')}",
                                data: {
                                    mobile: mobile,
                                    event: 'register',
                                    captcha: captcha
                                },
                                dataType: 'json',
                                success: function (res) {
                                    if (res.code === 1) {
                                        Toastr.success(res.msg);
                                    } else {
                                        Toastr.error(res.msg);
                                    }
                                }
                            });
                            return false;
                        });
                    }
                });
            });
        });
    });
</script>
{/block}
