{extend name="layout/default" /}

{block name="content"}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">{:__('Reset Password')}</div>
                <div class="panel-body">
                    <form id="resetpwd-form" class="form-horizontal" role="form" method="POST" action="">
                        {:token()}
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3">{:__('Type')}:</label>
                            <div class="col-xs-12 col-sm-8">
                                <div class="radio">
                                    <label for="type-email"><input id="type-email" checked="checked" name="type" data-send-url="{:url('api/ems/send')}" data-check-url="{:url('api/validate/check_ems_correct')}" type="radio" value="email"> {:__('Reset password by email')}</label>
                                    <label for="type-mobile"><input id="type-mobile" name="type" type="radio" data-send-url="{:url('api/sms/send')}" data-check-url="{:url('api/validate/check_sms_correct')}" value="mobile"> {:__('Reset password by mobile')}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" data-type="email">
                            <label for="email" class="control-label col-xs-12 col-sm-3">{:__('Email')}:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="text" class="form-control" id="email" name="email" value="" data-rule="required(#type-email:checked);email;remote({:url('api/validate/check_email_exist')}, event=resetpwd, id=0)" placeholder="">
                                <span class="msg-box"></span>
                            </div>
                        </div>
                        <div class="form-group hide" data-type="mobile">
                            <label for="mobile" class="control-label col-xs-12 col-sm-3">{:__('Mobile')}:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="text" class="form-control" id="mobile" name="mobile" value="" data-rule="required(#type-mobile:checked);mobile;remote({:url('api/validate/check_mobile_exist')}, event=resetpwd, id=0)" placeholder="">
                                <span class="msg-box"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="captcha" class="control-label col-xs-12 col-sm-3">{:__('Captcha')}:</label>
                            <div class="col-xs-12 col-sm-8">
                                <div class="input-group">
                                    <input type="text" name="captcha" class="form-control" data-rule="required;length({$Think.config.captcha.length});digits;remote({:url('api/validate/check_ems_correct')}, event=resetpwd, email:#email)"/>
                                    <span class="input-group-btn" style="padding:0;border:none;">
                                        <a href="javascript:;" class="btn btn-primary btn-captcha">{:__('Send verification code')}</a>
                                    </span>
                                </div>
                                <span class="msg-box"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newpassword" class="control-label col-xs-12 col-sm-3">{:__('New password')}:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="password" class="form-control" id="newpassword" name="newpassword" value="" data-rule="required;password" placeholder="">
                                <span class="msg-box"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-3">
                                <button type="submit" class="btn btn-primary">
                                    {:__('Submit')}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script type="text/html" id="graphicalcaptchatpl">
    <form id="graphicalcaptcha-form" class="form-horizontal form-layer" method="POST" action="">
        <div class="form-body">
            <input type="hidden" name="action" value="checkgraphicalcaptcha" />
            <div class="form-group">
                <label for="c-captcha" class="control-label col-xs-12 col-sm-3">{:__('Captcha')}:</label>
                <div class="col-xs-12 col-sm-8">
                    <div class="input-group">
                        <input type="text" name="captcha" id="captcha-input" class="form-control" data-rule="required;length(4)" />
                        <span class="input-group-addon" style="padding:0;border:none;">
                            <img src="{:captcha_src()}" width="100" height="30" onclick="this.src = '{:captcha_src()}?r=' + Math.random();"/>
                        </span>
                    </div>
                    <span class="msg-box"></span>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <div class="form-group" style="margin-bottom:0;">
                <div class="col-xs-12 col-sm-8 col-sm-offset-3">
                    <button type="submit" class="btn btn-md btn-primary">{:__('Submit')}</button>
                </div>
            </div>
        </div>
    </form>
</script>
<script>
    require(['jquery', 'bootstrap', 'fast', 'form', 'layer', 'toastr', 'template'], function ($, undefined, Fast, Form, Layer, Toastr, Template) {
        $(function () {
            $('input[name=type]').on('change', function () {
                var type = $(this).val();
                $('[data-type]').addClass('hide');
                $('[data-type="' + type + '"]').removeClass('hide');
                $('#resetpwd-form').validator("setField", {
                    captcha: "required;length({$Think.config.captcha.length});digits;remote(" + $('input[name=type]:checked').data("check-url") + ", event=resetpwd, " + type + ":#" + type + ")"
                });
            });

            $(document).on('click', '.btn-captcha', function () {
                var type = $('input[name=type]:checked').val();
                var mobile = $('#mobile').val();
                if (type == 'mobile' && !mobile) {
                    Toastr.error(__('Please enter mobile number'));
                    return;
                }
                var email = $('#email').val();
                if (type == 'email' && !email) {
                    Toastr.error(__('Please enter email'));
                    return;
                }
                Layer.open({
                    type: 1,
                    title: __('Please enter the graphical captcha'),
                    area: ['400px', '250px'],
                    content: Template('graphicalcaptchatpl', {}),
                    success: function (layero, index) {
                        var form = layero.find('form');
                        Form.api.bindevent(form, function (data, ret) {
                            // This is the success callback of the form submission
                            Layer.close(index);
                            // Now send the SMS or Email
                            var captcha = layero.find('#captcha-input').val();
                            var url = $('input[name=type]:checked').data('send-url');
                            var data = {event: 'resetpwd', captcha: captcha};
                            data[type] = $('#' + type).val();

                            $.ajax({
                                url: url,
                                data: data,
                                dataType: 'json',
                                success: function (res) {
                                    if (res.code === 1) {
                                        Toastr.success(res.msg);
                                    } else {
                                        Toastr.error(res.msg);
                                    }
                                }
                            });
                            return false;
                        });
                    }
                });
            });
        });
    });
</script>
{/block}
