<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <input type="hidden" name="row[id]" value="{$row.id|htmlentities}">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Group')}:</label>
        <div class="col-xs-12 col-sm-4">
            {$groupList}
        </div>
    </div>
    <div class="form-group">
        <label for="c-username" class="control-label col-xs-12 col-sm-2">{:__('Username')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-username" data-rule="required" class="form-control" name="row[username]" type="text" value="{$row.username|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-nickname" class="control-label col-xs-12 col-sm-2">{:__('Nickname')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-nickname" data-rule="required" class="form-control" name="row[nickname]" type="text" value="{$row.nickname|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-password" class="control-label col-xs-12 col-sm-2">{:__('Password')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-password" data-rule="password" class="form-control" name="row[password]" type="password" value="" placeholder="{:__('Leave password blank if dont want to change')}" autocomplete="new-password" />
        </div>
    </div>
    <div class="form-group">
        <label for="c-email" class="control-label col-xs-12 col-sm-2">{:__('Email')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-email" data-rule="email" class="form-control" name="row[email]" type="text" value="{$row.email|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">{:__('Mobile')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-mobile" data-rule="mobile" class="form-control" name="row[mobile]" type="text" value="{$row.mobile|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-avatar" class="control-label col-xs-12 col-sm-2">{:__('Avatar')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-avatar" data-rule="" class="form-control" size="50" name="row[avatar]" type="text" value="{$row.avatar|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-avatar" class="btn btn-danger faupload" data-input-id="c-avatar" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-avatar" class="btn btn-primary fachoose" data-input-id="c-avatar" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-avatar"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-avatar"></ul>
        </div>
    </div>
    <div class="form-group">
        <label for="c-level" class="control-label col-xs-12 col-sm-2">{:__('Level')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-level" data-rule="required" class="form-control" name="row[level]" type="number" value="{$row.level|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Gender')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[gender]', ['1'=>__('Male'), '0'=>__('Female')], $row['gender'])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-birthday" class="control-label col-xs-12 col-sm-2">{:__('Birthday')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-birthday" data-rule="" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[birthday]" type="text" value="{$row.birthday|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-bio" class="control-label col-xs-12 col-sm-2">{:__('Bio')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bio" data-rule="" class="form-control" name="row[bio]" type="text" value="{$row.bio|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-id_card_number" class="control-label col-xs-12 col-sm-2">{:__('身份证号')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-id_card_number" data-rule="required" class="form-control" name="row[id_card_number]" type="text" value="{$row.id_card_number|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-id_card_front_image" class="control-label col-xs-12 col-sm-2">{:__('身份证正面照')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-id_card_front_image" data-rule="required" class="form-control" size="50" name="row[id_card_front_image]" type="text" value="{$row.id_card_front_image|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-id_card_front_image" class="btn btn-danger faupload" data-input-id="c-id_card_front_image" data-mimetype="image/*" data-multiple="false" data-preview-id="p-id_card_front_image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-id_card_front_image" class="btn btn-primary fachoose" data-input-id="c-id_card_front_image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-id_card_front_image"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-id_card_front_image"></ul>
        </div>
    </div>
    <div class="form-group">
        <label for="c-id_card_back_image" class="control-label col-xs-12 col-sm-2">{:__('身份证反面照')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-id_card_back_image" data-rule="required" class="form-control" size="50" name="row[id_card_back_image]" type="text" value="{$row.id_card_back_image|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-id_card_back_image" class="btn btn-danger faupload" data-input-id="c-id_card_back_image" data-mimetype="image/*" data-multiple="false" data-preview-id="p-id_card_back_image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-id_card_back_image" class="btn btn-primary fachoose" data-input-id="c-id_card_back_image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-id_card_back_image"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-id_card_back_image"></ul>
        </div>
    </div>
    <div class="form-group">
        <label for="c-degree_certificate_full_time" class="control-label col-xs-12 col-sm-2">{:__('全日制学历或学位图')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-degree_certificate_full_time" class="form-control" size="50" name="row[degree_certificate_full_time]" type="text" value="{$row.degree_certificate_full_time|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-degree_certificate_full_time" class="btn btn-danger faupload" data-input-id="c-degree_certificate_full_time" data-mimetype="image/*" data-multiple="false" data-preview-id="p-degree_certificate_full_time"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-degree_certificate_full_time" class="btn btn-primary fachoose" data-input-id="c-degree_certificate_full_time" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-degree_certificate_full_time"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-degree_certificate_full_time"></ul>
        </div>
    </div>
    <div class="form-group">
        <label for="c-degree_certificate_part_time" class="control-label col-xs-12 col-sm-2">{:__('在职学历或学位图')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-degree_certificate_part_time" class="form-control" size="50" name="row[degree_certificate_part_time]" type="text" value="{$row.degree_certificate_part_time|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-degree_certificate_part_time" class="btn btn-danger faupload" data-input-id="c-degree_certificate_part_time" data-mimetype="image/*" data-multiple="false" data-preview-id="p-degree_certificate_part_time"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-degree_certificate_part_time" class="btn btn-primary fachoose" data-input-id="c-degree_certificate_part_time" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-degree_certificate_part_time"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-degree_certificate_part_time"></ul>
        </div>
    </div>
    <div class="form-group">
        <label for="c-application_form" class="control-label col-xs-12 col-sm-2">{:__('水测报名表')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-application_form" class="form-control" size="50" name="row[application_form]" type="text" value="{$row.application_form|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-application_form" class="btn btn-danger faupload" data-input-id="c-application_form" data-mimetype="*" data-multiple="false" data-preview-id="p-application_form"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-application_form" class="btn btn-primary fachoose" data-input-id="c-application_form" data-mimetype="*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-application_form"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-application_form"></ul>
        </div>
    </div>
    <div class="form-group">
        <label for="c-education_full_time_details" class="control-label col-xs-12 col-sm-2">{:__('全日制教育毕业院校系及专业')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-education_full_time_details" class="form-control" name="row[education_full_time_details]" type="text" value="{$row.education_full_time_details|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-education_part_time_details" class="control-label col-xs-12 col-sm-2">{:__('在职教育毕业院校系及专业')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-education_part_time_details" class="form-control" name="row[education_part_time_details]" type="text" value="{$row.education_part_time_details|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-current_occupation" class="control-label col-xs-12 col-sm-2">{:__('现从事工作')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-current_occupation" data-rule="required" class="form-control" name="row[current_occupation]" type="text" value="{$row.current_occupation|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-supervisor_unit" class="control-label col-xs-12 col-sm-2">{:__('主管单位')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-supervisor_unit" class="form-control" name="row[supervisor_unit]" type="text" value="{$row.supervisor_unit|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-company_name" class="control-label col-xs-12 col-sm-2">{:__('单位名称')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-company_name" data-rule="required" class="form-control" name="row[company_name]" type="text" value="{$row.company_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-administrative_duties" class="control-label col-xs-12 col-sm-2">{:__('行政职务')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-administrative_duties" class="form-control" name="row[administrative_duties]" type="text" value="{$row.administrative_duties|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-work_experience_years" class="control-label col-xs-12 col-sm-2">{:__('工作年限')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-work_experience_years" data-rule="required" class="form-control" name="row[work_experience_years]" type="number" value="{$row.work_experience_years|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-company_zip_code" class="control-label col-xs-12 col-sm-2">{:__('单位邮编')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-company_zip_code" class="form-control" name="row[company_zip_code]" type="text" value="{$row.company_zip_code|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-company_phone" class="control-label col-xs-12 col-sm-2">{:__('单位电话')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-company_phone" class="form-control" name="row[company_phone]" type="text" value="{$row.company_phone|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-company_address" class="control-label col-xs-12 col-sm-2">{:__('单位地址')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-company_address" class="form-control" name="row[company_address]" type="text" value="{$row.company_address|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-remarks" class="control-label col-xs-12 col-sm-2">{:__('备注信息')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-remarks" class="form-control" rows="5" name="row[remarks]" cols="50">{$row.remarks|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="c-money" class="control-label col-xs-12 col-sm-2">{:__('Money')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-money" data-rule="required" class="form-control" name="row[money]" type="number" value="{$row.money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-score" class="control-label col-xs-12 col-sm-2">{:__('Score')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-score" data-rule="required" class="form-control" name="row[score]" type="number" value="{$row.score|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-successions" class="control-label col-xs-12 col-sm-2">{:__('Successions')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-successions" data-rule="required" class="form-control" name="row[successions]" type="number" value="{$row.successions|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-maxsuccessions" class="control-label col-xs-12 col-sm-2">{:__('Maxsuccessions')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-maxsuccessions" data-rule="required" class="form-control" name="row[maxsuccessions]" type="number" value="{$row.maxsuccessions|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-prevtime" class="control-label col-xs-12 col-sm-2">{:__('Prevtime')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-prevtime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[prevtime]" type="text" value="{$row.prevtime|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-logintime" class="control-label col-xs-12 col-sm-2">{:__('Logintime')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-logintime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[logintime]" type="text" value="{$row.logintime|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-loginip" class="control-label col-xs-12 col-sm-2">{:__('Loginip')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-loginip" data-rule="required" class="form-control" name="row[loginip]" type="text" value="{$row.loginip|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-loginfailure" class="control-label col-xs-12 col-sm-2">{:__('Loginfailure')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-loginfailure" data-rule="required" class="form-control" name="row[loginfailure]" type="number" value="{$row.loginfailure|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-joinip" class="control-label col-xs-12 col-sm-2">{:__('Joinip')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-joinip" data-rule="required" class="form-control" name="row[joinip]" type="text" value="{$row.joinip|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-jointime" class="control-label col-xs-12 col-sm-2">{:__('Jointime')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-jointime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[jointime]" type="text" value="{$row.jointime|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['normal'=>__('Normal'), 'hidden'=>__('Hidden')], $row['status'])}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
